<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Abstract">
            <directory suffix="Test.php">./src/Creational/AbstractFactory/Tests</directory>
        </testsuite>
        <testsuite name="Builder">
            <directory suffix="Test.php">./src/Creational/Builder/Tests</directory>
        </testsuite>
        <testsuite name="FactoryMethod">
            <directory suffix="Test.php">./src/Creational/FactoryMethod/Tests</directory>
        </testsuite>
        <testsuite name="Pool">
            <directory suffix="Test.php">./src/Creational/Pool/Tests</directory>
        </testsuite>
        <testsuite name="Prototype">
            <directory suffix="Test.php">./src/Creational/Prototype/Tests</directory>
        </testsuite>
        <testsuite name="SimpleFactory">
            <directory suffix="Test.php">./src/Creational/SimpleFactory/Tests</directory>
        </testsuite>
        <testsuite name="Singleton">
            <directory suffix="Test.php">./src/Creational/Singleton/Tests</directory>
        </testsuite>
        <testsuite name="StaticFactory">
            <directory suffix="Test.php">./src/Creational/StaticFactory/Tests</directory>
        </testsuite>
        <!-- 结构型设计模式 -->
        <testsuite name="Adapter">
            <directory suffix="Test.php">./src/Structural/Adapter/Tests</directory>
        </testsuite>
        <testsuite name="Bridge">
            <directory suffix="Test.php">./src/Structural/Bridge/Tests</directory>
        </testsuite>
        <testsuite name="Composite">
            <directory suffix="Test.php">./src/Structural/Composite/Tests</directory>
        </testsuite>
        <testsuite name="DataMapper">
            <directory suffix="Test.php">./src/Structural/DataMapper/Tests</directory>
        </testsuite>
        <testsuite name="Decorator">
            <directory suffix="Test.php">./src/Structural/Decorator/Tests</directory>
        </testsuite>
        <testsuite name="Facade">
            <directory suffix="Test.php">./src/Structural/Facade/Tests</directory>
        </testsuite>
        <testsuite name="FluentInterface">
            <directory suffix="Test.php">./src/Structural/FluentInterface/Tests</directory>
        </testsuite>
        <testsuite name="Flyweight">
            <directory suffix="Test.php">./src/Structural/Flyweight/Tests</directory>
        </testsuite>
        <testsuite name="Proxy">
            <directory suffix="Test.php">./src/Structural/Proxy/Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <!-- <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="MAIL_DRIVER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
    </php> -->
</phpunit>
