<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Abstract">
            <directory suffix="Test.php">./src/Creational/AbstractFactory/Tests</directory>
        </testsuite>
        <testsuite name="Builder">
            <directory suffix="Test.php">./src/Creational/Builder/Tests</directory>
        </testsuite>
        <testsuite name="FactoryMethod">
            <directory suffix="Test.php">./src/Creational/FactoryMethod/Tests</directory>
        </testsuite>
        <testsuite name="Pool">
            <directory suffix="Test.php">./src/Creational/Pool/Tests</directory>
        </testsuite>
        <testsuite name="Prototype">
            <directory suffix="Test.php">./src/Creational/Prototype/Tests</directory>
        </testsuite>
        <testsuite name="SimpleFactory">
            <directory suffix="Test.php">./src/Creational/SimpleFactory/Tests</directory>
        </testsuite>
        <testsuite name="Singleton">
            <directory suffix="Test.php">./src/Creational/Singleton/Tests</directory>
        </testsuite>
        <testsuite name="StaticFactory">
            <directory suffix="Test.php">./src/Creational/StaticFactory/Tests</directory>
        </testsuite>
        <!-- 结构型设计模式 -->
        <testsuite name="Adapter">
            <directory suffix="Test.php">./src/Structural/Adapter/Tests</directory>
        </testsuite>
        <testsuite name="Bridge">
            <directory suffix="Test.php">./src/Structural/Bridge/Tests</directory>
        </testsuite>
        <testsuite name="Composite">
            <directory suffix="Test.php">./src/Structural/Composite/Tests</directory>
        </testsuite>
        <testsuite name="DataMapper">
            <directory suffix="Test.php">./src/Structural/DataMapper/Tests</directory>
        </testsuite>
        <testsuite name="Decorator">
            <directory suffix="Test.php">./src/Structural/Decorator/Tests</directory>
        </testsuite>
        <testsuite name="Facade">
            <directory suffix="Test.php">./src/Structural/Facade/Tests</directory>
        </testsuite>
        <testsuite name="FluentInterface">
            <directory suffix="Test.php">./src/Structural/FluentInterface/Tests</directory>
        </testsuite>
        <testsuite name="Flyweight">
            <directory suffix="Test.php">./src/Structural/Flyweight/Tests</directory>
        </testsuite>
        <testsuite name="Proxy">
            <directory suffix="Test.php">./src/Structural/Proxy/Tests</directory>
        </testsuite>
        <testsuite name="Registry">
            <directory suffix="Test.php">./src/Structural/Registry/Tests</directory>
        </testsuite>
        <!-- 行为型设计模式 -->
        <testsuite name="ChainOfResponsibilities">
            <directory suffix="Test.php">./src/Behavioral/ChainOfResponsibilities/Tests</directory>
        </testsuite>
        <testsuite name="Command">
            <directory suffix="Test.php">./src/Behavioral/Command/Tests</directory>
        </testsuite>
        <testsuite name="Iterator">
            <directory suffix="Test.php">./src/Behavioral/Iterator/Tests</directory>
        </testsuite>
        <testsuite name="Mediator">
            <directory suffix="Test.php">./src/Behavioral/Mediator/Tests</directory>
        </testsuite>
        <testsuite name="Memento">
            <directory suffix="Test.php">./src/Behavioral/Memento/Tests</directory>
        </testsuite>
        <testsuite name="Observer">
            <directory suffix="Test.php">./src/Behavioral/Observer/Tests</directory>
        </testsuite>
        <testsuite name="Specification">
            <directory suffix="Test.php">./src/Behavioral/Specification/Tests</directory>
        </testsuite>
        <testsuite name="State">
            <directory suffix="Test.php">./src/Behavioral/State/Tests</directory>
        </testsuite>
        <testsuite name="Strategy">
            <directory suffix="Test.php">./src/Behavioral/Strategy/Tests</directory>
        </testsuite>
        <testsuite name="TemplateMethod">
            <directory suffix="Test.php">./src/Behavioral/TemplateMethod/Tests</directory>
        </testsuite>
        <testsuite name="Visitor">
            <directory suffix="Test.php">./src/Behavioral/Visitor/Tests</directory>
        </testsuite>
        <!-- 其他设计模式 -->
        <testsuite name="Delegation">
            <directory suffix="Test.php">./src/More/Delegation/Tests</directory>
        </testsuite>
        <testsuite name="Repository">
            <directory suffix="Test.php">./src/More/Repository/Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <!-- <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="MAIL_DRIVER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
    </php> -->
</phpunit>
